@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-bg-color: #158d9c;
  --main-monochromatic-color: #1BB6C9;
  --main-complementary-color: #9C2415;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-playfair);
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-playfair), serif;
  line-height: 1.4;
  font-size: 10px;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
